.popupWrapper {
            background-color: rgba(70, 70, 70, 0.6);
            border-radius: 4px 4px 4px 4px;
            box-shadow: 0 12px 25px rgba(0, 0, 0, 0.7);
            left: 300px;
            margin: 0 auto !important;
            max-height: 400px;
            max-width: 700px;
            overflow: auto;
            padding: 4px;
            position: fixed !important;
            top: 200px;
        }

/*a7medvirus Tutorial*/
    .code{
  background:#F5F5F5 url(https://i.servimg.com/u/f16/15/04/02/38/page_w10.png)6px 6px no-repeat;
    max-height: 200px;
      max-width: 650px;
      overflow: auto;
      direction: ltr;
        display: block;
    }   
.secondarytitle, h2 .hierarchy, span .cattitle, a .cattitle, {
	color: #fff;
	text-align: center;
	font: Bold 20px Arial,Helvetica,sans-serif;
}
/*by: Traid web*/
  .gowetobilobed-offlinebutton {
background-color:transparent;
background-image:url("https://i.servimg.com/u/f66/11/66/00/43/user_o11.gif");
background-position:center center;
background-repeat:no-repeat;
border:medium none;
height:ارتفاع الايقونةpx;
min-height:ارتفاع الايقونةpx;
min-width:عرض الايقونةpx;
width:عرض الايقونةpx;
}
img.i_icon_online { background: #FFF; margin-right: 12px; }
.offlinebutton{background-color:transparent;background-image:url(https://i.servimg.com/u/f56/18/63/84/73/user_o10.gif);background-position:center center;background-repeat:no-repeat;border:medium none;height:50px;min-height:50px;min-width:50px;width:50px}
        .LG-viewing { margin: 0 5px; font-weight: bold; }
.quote{-moz-border-radius:7px;-webkit-border-radius:7px;background:#45bcfb url(https://i.servimg.com/u/f16/15/04/02/38/quote_10.png)6px 6px no-repeat;background-color:#ededed;border:1px solid #C3C3C3;border-radius:7px;border-style:solid;border-width:1px;box-shadow:inset 0 0 7px 4px#e8e8e8;color:#000;font-family:Tahoma,Arial,Helvetica,sans-serif;font-size:12px;line-height:125%;overflow:hidden}

A:link {text-decoration: none; color: }
A:visited {text-decoration: none; color: }
A:active {text-decoration: none; color: }
A:hover {text-decoration: none; color: }

a:link {text-decoration: none; color: }
a:visited {text-decoration: none; color: }
a:active {text-decoration: none; color: }
a:hover {text-decoration: none; color: } 
a:link, body_alink
{
	color: #004d8f;
	text-decoration: none;
}
a:visited, body_avisited
{
	color: #004d8f;
	text-decoration: none;
}
a:hover, a:active, body_ahover
{
	color: #0066CC;
	text-decoration: none;
}

td.A:link {text-decoration: none; color: }
.duttonclosed
{
	padding: 7px; background-color: #35b5f8; border: 1px #800000 solid ; border-bottom: 2px #800000 solid; color: #FFF ; border-radius:2px; transition: 0.2s;

}
header nav .home {
    background-image: url("https://i.servimg.com/u/f39/15/53/11/89/logo110.png");
    background-position: 262px top;
    display: none;
    float: right;
    font-size: 0;
    height: 41px;
    margin-left: 10px;
    margin-top: -3px;
    width: 122px;
}
#headcontent .mainlogo {
    background-image: url("https://i.servimg.com/u/f39/15/53/11/89/logo110.png");
    background-position: left 30px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    float: right;
    height: 141px;
    padding-top: 0;
    position: relative;
    width: 290px;
}
dutton, .dutton,.duttonclosed {
    transition: all 0.2s ease 0s;
        transition-property: all;
        transition-duration: 0.2s;
        transition-timing-function: ease;
        transition-delay: 0s;
    border: 1px solid #00A7FF;
        border-top-width: 1px;
        border-right-width-value: 1px;
        border-right-width-ltr-source: physical;
        border-right-width-rtl-source: physical;
        border-bottom-width: 1px;
        border-left-width-value: 1px;
        border-left-width-ltr-source: physical;
        border-left-width-rtl-source: physical;
        border-top-style: solid;
        border-right-style-value: solid;
        border-right-style-ltr-source: physical;
        border-right-style-rtl-source: physical;
        border-bottom-style: solid;
        border-left-style-value: solid;
        border-left-style-ltr-source: physical;
        border-left-style-rtl-source: physical;
        border-top-color: #00A7FF;
        border-right-color-value: #00A7FF;
        border-right-color-ltr-source: physical;
        border-right-color-rtl-source: physical;
        border-bottom-color: #00A7FF;
        border-left-color-value: #00A7FF;
        border-left-color-ltr-source: physical;
        border-left-color-rtl-source: physical;
        -moz-border-top-colors: none;
        -moz-border-right-colors: none;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        border-image-source: none;
        border-image-slice: 100% 100% 100% 100%;
        border-image-width: 1 1 1 1;
        border-image-outset: 0 0 0 0;
        border-image-repeat: stretch stretch;
    padding: 8px;
        padding-top: 8px;
        padding-right-value: 8px;
        padding-bottom: 8px;
        padding-left-value: 8px;
        padding-left-ltr-source: physical;
        padding-left-rtl-source: physical;
        padding-right-ltr-source: physical;
        padding-right-rtl-source: physical;
    color: #FFF;
    font-weight: bold;
    background-image: linear-gradient(to bottom, #00C6FF 0%, #00B4E8 100%);
    border-radius: 2px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    cursor: pointer;
}
  /* كود التحكم بحجم المواضيع والمشاركات */
.postbody{
font-size: 18px;

font-weight: bold;
font-family:
 Traditional Arabic;
}
#avatar img{
max-height: 32px;
max-width:  38px;
border:  1px solid #4F4F4F;
border-radius: 4px;    }

#a7la55-avatar img{
max-height: 22px;
max-width:  22px;
      float:right;
border:  1px solid #4F4F4F;
border-radius: 4px;   
    }
#a7la88-avatar img{
max-height: 38px;
max-width:  38px;
      float:right;
border:  1px solid #4F4F4F;
border-radius: 4px;   
    }
.AVATAR img {
        height: 220px;
        width: 165px;
    }

.a7la7ekaya img {
        height: 100px;
        width: 100px;
    }



/*-----Programming code byMahmoud TalaaT& sam hameed-----*/
    #lbOverlay{
      position:fixed;z-index: 999;
      left:0;
      top:0;
      width:100%;
      height:100%;
      Mahmoud TalaaT;
      background-color:#000;
      cursor:pointer;
    }
    #lbCenter,#lbBottomContainer{
      position:absolute;
    Mahmoud TalaaT;
      z-index: 999;overflow:hidden;
      background-color:#fff;
    }
    .lbLoading{
      background:#fff url(https://i.servimg.com/u/f27/14/67/90/38/novfao10.gif) no-repeat center;
    }
    #lbImage{
      position:absolute;left:0;top:0;border:10px solid #fff;background-repeat:no-repeat;}
    #lbPrevLink,#lbNextLink{
      display:block;
    Mahmoud TalaaT;
      position:absolute;
      top:0;
      width:50%;
      outline:none;
    }
    #lbPrevLink{
      left:0;
    }
    #lbPrevLink:hover{
      background:transparent url(https://i.servimg.com/u/f41/14/81/17/27/211.png) no-repeat 0 15%;
    }
    #lbNextLink{
      right:0;}
    #lbNextLink:hover{
      background:transparent url(https://i.servimg.com/u/f41/14/81/17/27/310.png) no-repeat 100% 15%;
    }
    #lbBottom{
      font-family:Verdana, Arial, Geneva, Helvetica, sans-serif;font-size:10px;color:#666;line-height:1.4em;
      text-align:left;
      Mahmoud TalaaT;
      border:10px solid #fff;
      border-top-style:none;
    }
    #lbCloseLink{
      display:block;
      float:right;
      Mahmoud TalaaT;
      width:66px;height:22px;
      background:transparent url(https://i.servimg.com/u/f41/14/81/17/27/110.png) no-repeat center;
      outline:none;
      Mahmoud TalaaT;
      margin:5px 0;
    }
    #lbCaption,#lbNumber{
      margin-right:71px;
    }
    .postbody img{
      max-width:450px;
    }
    /*-----Programming code byMahmoudTalaat&samhamed-----*/



.arab-d-nav h1 {
	display: inline;
	}


.arab-d-nav{
	 font-weight: bold;
	 font-size: 13px;
	 color : #000000;
	 }
a.arab-d-nav{
	 text-decoration: none;
	 color : #006699;
	 }
a.arab-d-nav:hover{
	 text-decoration: underline;
	 }

.mainmenu,table.bodylinewidth .arab-d-nav,table.bodylinewidth .gensmall,span.postdetails img,table.bodylinewidth .sig,table.bodylinewidth .catbottom,#info_open {
	display:none;
	}

.codebox {
	width : 90%;
	margin:auto;
  margin:20px; margin-top:5px;
  background-color: #F3F3F3; border: 1px #B6B6B6 solid; padding: 10px;
color:#6ac300; font-size: 14px;
	}
.codebox dd {
	margin : 0;
  margin:20px; margin-top:5px;
 background-color: #F3F3F3; border: 1px #B6B6B6 solid; padding: 10px;
color:#6ac300; font-size: 14px;
	}
.codebox hidecode {
color: #7B7B7B
 margin:20px; margin-top:5px;
 background-color: #F3F3F3; border: 1px #B6B6B6 solid; padding: 10px;
color:#6ac300; font-size: 14px;
	}





 /*-- editor background custom --*/
    .sceditor-container textarea, .sceditor-container iframe {
        background-image: url("https://i.servimg.com/u/f58/17/80/83/35/qgk0q10.png") !important;
        background-position: center center !important;
        background-repeat: no-repeat !important;
    }

.row1, .row1Active {
	background: #FCFCFC;
	color: #4e4c4f;
	border-right: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
	border-left: 1px #FFF solid;
	border-top: 1px #FFF solid;
	font: bold 14px Arial;
}
.row1 a:link, .row1_alink, .row1Active a:link, .row1Active_alink {
	text-decoration: none;
}
.row1 a:visited, .row1_avisited, .row1Active a:visited, .row1Active_avisited {
	text-decoration: none;
}
.row1 a:hover, .row1 a:active, .row1_ahover, .row1Active a:hover, .row1Active a:active, .row1Active_ahover {
	text-decoration: none;
}
.row1Active div h1, .row1Active div h1 a {
	font: bold 14pt Arial,Tahoma,Helvetica,sans-serif;
}
.row2, .row2Active {
	background: #F8F8F8;
	color: #4e4c4f;
	border-right: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
	border-left: 1px #FFF solid;
	border-top: 1px #FFF solid;
	font: bold 14px Arial;
}
.row2 a:link, .row2_alink, .row2Active a:link, .row2Active_alink {
	text-decoration: none;
}
.row2 a:visited, .row2_avisited, .row2Active a:visited, .row2Active_avisited {
	text-decoration: none;
}
.row2 a:hover, .row2 a:active, .row2_ahover, .row2Active a:hover, .row2Active a:active, .row2Active_ahover {
	text-decoration: none;
}
.row3, .row3Active {
	background: #FCFCFC;
	color: #4e4c4f;
	border-right: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
	border-left: 1px #FFF solid;
	border-top: 1px #FFF solid;
	font: bold 14px Arial;
}
.row3 a:link, .row3_alink, .row3Active a:link, .row3Active_alink {
	text-decoration: none;
}
.row3 a:visited, .row3_avisited, .row3Active a:visited, .row3Active_avisited {
	text-decoration: none;
}
.row3 a:hover, .row3 a:active, .row3_ahover, .row3Active a:hover, .row3Active a:active, .row3Active_ahover {
	text-decoration: none;
}
.row3Active div h1, .row3Active div h1 a {
	font: bold 14pt Arial,Tahoma,Helvetica,sans-serif;
}
.button {
	font: bold 12px Arial,verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
}
select {
	border: 1px #E6E6E6 solid;
	background: #FFF;
        font: bold 12px Arial;
}
option, optgroup {
	font-size: bold 12px;
	font-family: Arial,verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
}
input {
	outline: none;
	margin: 5px;
	font: bold 11px Arial,Geneva,sans-serif;
	color: #777;
	border-radius: 4px;
	border: 1px solid #eee;
	padding: 3px 7px 3px 15px;
}

